@tailwind base;
@tailwind components;
@tailwind utilities;

.transition__all {
    transition: all ease .5s;
}
.link__hover {
    border-bottom: 1px solid transparent;
    padding-bottom: .5rem;
    border-radius: 1px;
}
.link__hover:hover, .link__hover.active  {
    border-bottom: 1px solid #FFFFFF;
}